<footer>
  <a href="/terms">Terms & Conditions</a>
  <a href="/privacy">Privacy</a>
  <a href="https://cavender.foo">© 2026 Stephen Cavender</a>
  <img src="images/ichthys.svg" alt="ichthys" />
</footer>