---
layout: layout.njk
title: SimpleDex
---

<main class="flex">
  <div>
    <div class="flex">
      <img class="logo" src="images/header.jpg" alt="{{ title }} logo" />
    </div>
    <p>A quick and easy tool for figuring out if a pokèmon evolves and the conditions that need to be met for it to happen.</p>
    <div class="center flex">
      <a href="https://simpledex.cavender.foo" class="btn">Try the Web App</a>
    </div>
  </div>
  <img width="200" src="images/screen.png" alt="app screenshot" />
</main>